<!-- end of main content text hidden visually, but announced by screen readers -->
<div
  tabindex="0"
  class="visually-hidden"
  style="padding: 10px; border: 1px solid black; margin: 20px"
>
  end of this content
</div>