<!-- Navbar -->
<nav class="navbar mt-4 md:mt-0">
  <ul class="flex space-x-4 justify-center md:justify-start">
    <li><a
        href="/"
        class="navbar-link"
        hx-get="/"
        hx-target="#main"
      >Home</a></li>

    <li><a
        href="/about"
        class="navbar-link"
        hx-get="/about"
        hx-target="#main"
      >About</a></li>

    <li><a
        href="/contact"
        class="navbar-link"
        hx-get="/contact"
        hx-target="#main"
      >Contact</a></li>

    <li><a
        href="/support"
        class="navbar-link"
        hx-get="/support"
        hx-target="#main"
      >Support</a></li>
  </ul>
</nav>