
<h3>Login Using Email</h3>

<form method="post" action="/user/login">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" maxlength="60" required />
  </div>

      <!-- "Back" Button -->
<button type="button" id="back-button">Back</button>
<!-- "Next" Button -->
    <button type="submit">Next</button>
  </div>
</form>
