<h3>Login Email Sent</h3>
<p>An email has been sent to
  <strong>{{user_email}}</strong>, the address you provided on the previous
  page. Please check your inbox for a message from
  <strong>{{server_email}}</strong>.</p>
<p>If you don't see the email in your inbox, be sure to check your spam or junk
  folder.</p>
<p>If you still don't receive the email, you may need to request a new one or
  verify that the provided email address is correct.</p>